[Unit]
Description="Slack App"
After=nginx.service

[Service]
User=root
WorkingDirectory=/opt/slackapp/webhook/
ExecStart=/usr/bin/python3 /opt/slackapp/webhook/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target